.custom-scroll::-webkit-scrollbar {
  display: none;
  background: black;
  width: 1px;
  height: 0;
}
@media (max-width: 1080px) {
    .Homee {
        grid-template-columns: 57px 620px 290px;
    }
}
 @media (max-width: 1000px) {
    .Homee {
        grid-template-columns: 57px 620px;
    }
}
 @media (max-width: 700px) {
    .Homee {
        grid-template-columns: 57px 1fr;
    }
}
 @media (max-width: 500px) {
    .Homee {
        grid-template-columns: 1fr;
    }
}

/* @media (max-width: 960px) {
    .Homee {
        grid-template-columns: 81px 630px 200px;
    }
} */